<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- - Mapping files or annotated classes -->
        <mapping class="net.onelitefeather.pandorascluster.database.models.chunk.ClaimedChunkEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.flag.FlagContainerEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.flag.LandEntityCapFlagEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.flag.LandNaturalFlagEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.flag.LandRoleFlagEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.land.LandAreaEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.land.LandEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.player.LandMemberEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.player.LandPlayerEntity" />
        <mapping class="net.onelitefeather.pandorascluster.database.models.position.HomePositionEntity" />
        <!-- Drop and re-create the database schema on startup -->
    </session-factory>
</hibernate-configuration>